.DS_Store

# Build
BuildParse/moc_*
BuildParse/parse.build
BuildParse/parse.xcodeproj
BuildParse/Debug
BuildParse/Release

# Test suite
ParseTestSuite/Debug
ParseTestSuite/debug
ParseTestSuite/Release
ParseTestSuite/release
ParseTestSuite/moc
ParseTestSuite/*.build
ParseTestSuite/*.xcodeproj
ParseTestSuite/*.sln
ParseTestSuite/*.vcx*
ParseTestSuite/*.v11*
ParseTestSuite/*.sdf
